[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-bootstrap3 = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
